<template>
	<div class="container">
	     <div class="row justify-content-center">
	        <div class="col-md-12">
	            <div class="card">                                     
	                <div class="card-header">
	                    <div class="row">
	                        <div class="col-md-3"><a class="btn btn-primary" href="/home">Regresar</a></div>
	                        <div class="col-md-6"><h1>Listado de Productores</h1></div>
	                        <div class="col-md-3"><a href="/Productor/create" class="btn btn-primary">Registrar Productor</a></div>
	                    </div>
	                </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                    <thead>
                                        <th class="info"><h4>Numero</h4></th>
                                        <th class="info"><h4>Nombre del Proyecto</h4></th>
                                        <th class="info"><h4>Descripcion</h4></th>
                                        <th class="info"><h4>Accion</h4></th>
                                    </thead>
                                <body>
                                    <tr v-for="proyecto in proyectos">
                                        <td>{{ proyecto.numero }}</td>
                                        <td>{{ proyecto.name }}</td> 
                                        <td>{{ proyecto.descripcion }}</td> 
                                        <td>
                                            <a href="/" class="btn btn-warning btn-sm">Accion</a>
                                        </td>
                                    </tr>
                                </body>
                            </table>
                        </div>
                	</div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<style>

</style>

<script>
	export default {
		data(){
			return {
			proyectos:[]
			}
		},
		mounted(){
			axios.get('http://www.fgmsyt.com/Productor').then(response => (this.proyectos = response.data))
		}
	}

</script>